<!-- <p id="notice"><%#= notice %></p> -->
    <h1 class="sub">Recent Encounters with Cryptids</h1> 
    
    <div id="encounters">
    </div>
    <!-- <div>
      <p id="load-more">Load more</p>
    </div> -->
    <br>
    <!-- <div class="new-encounter">
    <%#= link_to 'New Encounter', new_encounter_path %>
    </div> -->