<!-- <p id="notice"><%#= notice %></p> -->

<div class="grid">
  <div class="col-2-3">
    <h2 id="sub">Encounters</h2>
    <div id="encounters">
    </div>
    <br>
    <!-- <div class="new-encounter">
    <%#= link_to 'New Encounter', new_encounter_path %>
    </div> -->

  </div>
  <div class="col-1-3">
    <div class="cryptids-list">
      <h2>Cryptids</h2>
      <ul id="cryptids">

        <%# @cryptids.each do |cryptid| %>
          <li><%#= link_to cryptid.name, cryptid_path(cryptid) %></li>
        <%# end %>
      </ul>
    </div>
  </div>
</div>
