<!-- <p id="notice"><%#= notice %></p> -->
    <h2 id="sub">Encounters</h2>
    <div id="encounters">
    </div>
    <br>
    <!-- <div class="new-encounter">
    <%#= link_to 'New Encounter', new_encounter_path %>
    </div> -->